In [12]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

from nltk.tokenize import TweetTokenizer

In [7]:
# Load data.
data = pd.read_csv("LocalData/SongData.csv")

In [8]:
data.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [16]:
# Method for cleaning the text
def clean(sentence):
    sentence = sentence.lower()
    
    return sentence

In [21]:
# Clean the data
data['text'] = data['text'].apply(clean)

TweetTokenizer was chosen due to its description of being "designed to be flexible and easy to adapt to new domains and tasks".

In [25]:
# Let us investigate how many words there are in the corpus.
# Let's split everything into tokens and count unique words.
text = data['text'].values
tkn = TweetTokenizer()

tokens = []
for song in text:
    tokens.extend(tkn.tokenize(song))

tokens = list(set(tokens))

In [26]:
print("Number of tokens: ", len(tokens))

Number of tokens:  100083

Using the TweetTokenizer, we get 100'083 tokens, meaning the criteria for having ~100'000 characters for word generation is fulfilled.